<h1 class="text-center bg-danger text-light p-3">USERS</h1>
<section class="align-item-center">
    <article id="login" class="text-center">
        <h2>Login</h2>   
        <form class="d-flex flex-column align-items-center" action="">
            <input class="m-2" placeholder="Email" type="text" name="EMAIL" id="email">
            <input class="m-2" placeholder="Password" type="number" name="PASSWORD" id="password">
            <input class="btn btn-success" type="button" value="Login" id="btnLogin">
        </form>
    </article>
</section>
