<h1 class="text-center bg-danger text-light p-3">USERS</h1>
<section class="align-item-center">
    <article id="register" class="text-center">
        <h2>Register A New User</h2>   
        <form class="d-flex flex-column align-items-center" action="">
            <input class="m-2" placeholder="Email" type="text" name="EMAIL" id="email">
            <input class="m-2" placeholder="Photo" type="text" name="PHOTO" id="photo">
            <input class="m-2" placeholder="Password" type="number" name="PASSWORD" id="password">
            <input class="m-2" placeholder="Role" type="number" name="ROLE" id="role">
            <input class="btn btn-success" type="button" value="Register" id="btnRegister">
        </form>
    </article>
</section>
